#plus-btn {
  font-size: 22px;
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 0%;
 text-emphasis: bold !important;
  line-height: 10px;
  text-align: center;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}