h1 {
    margin-top: 10px;
    font-size: 60px;
    color: black;
    font-family: 'Prata', serif;
}
h4{
    text-align:center;
}

.maindiv {
    float: none;
    margin-top: 40px;
    background-color: white;
    background: rgb(204, 204, 204);
    /* Fallback for older browsers without RGBA-support */
    background: rgba(204, 204, 204, 0.5);
    color: black;
    height: 10%;
    width: 60%;
    font-family: 'Prata', serif;
    padding-right: 20px;
    padding-left: 20px;
    box-shadow: 5px 10px black;
    padding-top: 10px;
}

#added {
    color:white;
}

body {
    /* height: 100%; */
    background-image: url('../../client/src/assets/images/football.jpg');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Prata', serif;
    overflow-y: auto;
}

.btn {
    background-color: white;
    background: rgb(204, 204, 204);
    /* Fallback for older browsers without RGBA-support */
    background: rgba(204, 204, 204, 0.5);
    border: 2px solid black;
    color: black;
    height: 30px;
    font-size: 14px;
}

.btntwo {
    background-color: white;
    background: rgb(204, 204, 204);
    /* Fallback for older browsers without RGBA-support */
    background: rgba(204, 204, 204, 0.5);
    border: 2px solid black;
    color: black;
    height: 30px;
    font-size: 14px;
}

#playerinput {
    background: white;
    background: rgba(255, 255, 255, 0.9);
    border: 2px solid black;
    color: black;
    cursor: football;
    margin-left: 0%;
    margin-bottom: 5px;
    width: 275px;
}

.navbar {
    background-color: white;
    background: rgb(204, 204, 204);
    /* Fallback for older browsers without RGBA-support */
    background: rgba(204, 204, 204, 0.5);
    font-family: 'Prata', serif;
    font-size: 16px;
    margin-bottom:0px;
}

.navbar-brand {
    font-size: 16px;
   
}



.slider-container {
    width: 100%;
    /* height: 446px; */
    height: 20%;
    position: relative;
    text-align: center;
    overflow: hidden;
}

.image-container {
    width: 4320px;
    /* height: 446px; */
    height: 100%;
    clear: both;
    position: relative;
    animation-name: slider;
    animation-duration: 30s;
    animation-delay: 0s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: backwards;
    animation-play-state: running;
}

.slider-image {
    width: auto;
    /* height: 446px; */
    height: 100%;
    float: left;
    position: relative;
}

@keyframes slider {
    0% {
        transform: translate(0, 0);
    }
    33% {
        transform: translate(-1080px, 0);
    }
    66% {
        transform: translate(-2160px, 0);
    }
    100% {
        transform: translate(-3240px, 0);
    }
}

.loginBtn, .logoutBtn {
    position: absolute;
    top: -3px;
    right: 10px;
}

.divided {
    display: flex;
    align-items: center;
}

.divider {
    flex-grow: 1;
    border-bottom: 1px solid black;
    margin: 0px
}

.btn:hover,
.btntwo:hover,
.btnthree:hover {
    background-color: gray;
    border-color: black;
    color: white;
}

#top:hover {
    color: white;
}

::placeholder {
    color: black;
    text-align: center !important;
}

/* .test {
    position: absolute;
    margin-right: auto;
    margin-left: auto;
    left: 0;
    right: 0;
    text-align: center;
} */

.notification {
    color: red;
    /* font-weight: bold; */
    font-size: 30px;
}

.hide {
    display: none;
}

/* .fade-in {
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
    -moz-animation: fadeIn ease 2s;
    -o-animation: fadeIn ease 2s;
    -ms-animation: fadeIn ease 2s;
}
@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
} */

.fade-in {
    opacity: 1;
    animation: fade 2s linear;
}
@keyframes fade {
  0%,100% { opacity: 0 }
  50% { opacity: 1 }
}

.containertwo{
    padding-left:50px;
    text-align: center;
}