/* header {
  padding: 0px;
  margin-top:0px;
  background-color:black;
  opacity:0.7 !important;
  font-family: 'Prata', serif;
  }
   */

  h1{
    margin-top:10px;
    font-size:60px;
    color:black;
    font-family: 'Prata', serif;
  
  }

  .maindiv {
    float: none;
    margin-top:40px;
    background-color:white;
    background: rgb(204, 204, 204); /* Fallback for older browsers without RGBA-support */
    background: rgba(204, 204, 204, 0.5);
    color: black;
    height: 50%;
    width:100%;
    font-family: 'Prata', serif;
    padding: 20px;
    padding-right: 20px; 
    padding-left:  20px;
    box-shadow: 5px 10px black;
  
  }


  body {
    height: 100%;
    background-image: url('../../client/src/assets/images/football.jpg');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Prata', serif;
    overflow-y:auto;
    }
    
    .btn{
      background-color:white;
      background: rgb(204, 204, 204); /* Fallback for older browsers without RGBA-support */
      background: rgba(204, 204, 204, 0.5);
      border: 2px solid black;
      color: black;
      height:30px;
      font-size:14px;
  }

  .btntwo{
    background-color:white;
    background: rgb(204, 204, 204); /* Fallback for older browsers without RGBA-support */
    background: rgba(204, 204, 204, 0.5);
    border: 2px solid black;
    color: black;
    height:30px;
    font-size:14px;
    
}
  
  

#findinput{    
  background-color:white;
  border: 2px solid black;
  color: black;
  cursor: football;  
  margin-left:auto;
  margin-bottom:5px;
  width:300px;

  


}

  .navbar{
    background-color:white;
    background: rgb(204, 204, 204); /* Fallback for older browsers without RGBA-support */
    background: rgba(204, 204, 204, 0.5);
    font-family: 'Prata', serif;
    font-size:8px;
    
    } 

.navbar-brand{
  font-size:14px;
}


.slider-container {
  width: 100%;
  /* height: 446px; */
  height: 20%;
  position: relative;
  text-align: center;
  overflow: hidden;
}

.image-container {
width: 4320px;
/* height: 446px; */
height: 100%;
clear: both;
position: relative;
animation-name: slider;
animation-duration: 30s;
animation-delay: 0s;
animation-timing-function: ease-in-out;
animation-iteration-count: infinite;
animation-direction: normal;
animation-fill-mode: backwards;
animation-play-state: running;
}

.slider-image {
width: auto;
/* height: 446px; */
height: 100%;
float: left;
position: relative;
}

@keyframes slider {
0% {
  transform: translate(0, 0);
}
33% {
    transform: translate(-1080px, 0);
}
66% {
    transform: translate(-2160px, 0);
}
100% {
    transform: translate(-3240px, 0);
} 
}

.loginBtn {
  position: absolute;
  top: -3px;
  right: 90px;
}

.logoutBtn {
  position: absolute;
  top: -3px;
  right: 10px;
}

/* @media screen and (max-width: 600px){
  body {background-image: 100%;
  }
} */

.divided {
  display: flex;
  align-items: center;
}
.divider {
  flex-grow: 1;
  border-bottom: 1px solid black; 
  margin: 0px
}


.btn:hover,.btntwo:hover {
  background-color:gray;
  border-color:black;
  color:white;
}

#top:hover{
  color:white;
}