body{
  height: 100%;
  
  background-image: url('/Users/kelseybergstrom/Desktop/fantasy-football/client/src/football.jpg');
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }


