.list-overflow-container {
  max-height: 229px;
  border-radius: 4px;
  overflow-y: scroll;
  overflow-x: hidden;
  width:85%;
  /* margin-left:20px; */
  box-shadow: 5px 10px black; 
  margin-bottom:30px;
  margin-top:30px;
  text-align: left;
}

.list-overflow-container ul {
  margin: 0;
}

.list-overflow-container li {
  border-radius: 0px;
  border-left: none;
  border-right: none;
}

.list-overflow-container li * {
  cursor: pointer;
}

.list-overflow-container li a {
  color:black;
  color: currentColor;
 
  pointer-events: none;
  text-decoration: none;
  
 
}

.list-overflow-container li {
  border-top: none;
  background: white;
  background: rgba(255, 255, 255, 0.9);
  width:100%;
  padding-right: 20px; 
  padding-left:  20px;
  box-shadow: 2px 2px;
  padding-bottom:6px;
  padding-top:8px;

}

.list-overflow-container li:last-child {
  border-bottom: none;
  
}

@media screen and (max-width: 550px) {
  .list-overflow-container li {
    padding: 5px 20px;
  }

}

@media screen and (max-width: 375px) {
  .list-overflow-container li {
    padding: 5px 10px;
  }

}

@media screen and (max-width: 320px) {
  .list-overflow-container li {
    padding: 3px 5px;
  }

  b, strong {
    font-size: 14px;
  }

  #added {
    font-size: 16px;
    color: black;
    font-size: bold;
  }

  svg {
    height: 60px;
    width: 60px;
  }
}

@media screen and (max-width: 300px) {
  b, strong {
    font-size: 12px;
  }
  
  /* fix? */
  #playerinput {
    width: 90%;
    padding: 3px 6px;
    height: 30px;
  }


}
