.form-btn{
  font-size:32px;
  font-weight:bold;
  margin-top:-10px;
  padding-bottom:0px;
  margin-bottom:0px;
  height:20px;
  font-size: 32px;
  padding: 0px;
  float:right;
  height: 19px;
}
  
.form-btn:hover{
 color:gray;
 outline:none !important;
}

.form-btn:focus{
  color:gray;
  
  outline:none !important;
  

}





